* 
{
    color: white;
	font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}


.inputArea
{
    /* align-self: center; */
    display: block;
    height: 20em;
    vertical-align: top;
    text-align: center;
}

#sentenceSelect
{

    color: black;
    width: 60px;
    border: 1px solid black;
    margin-top: 10px;
}

.textarea
{
    border:2px solid black;
    margin-top:100px;
    padding: 10px;
}



button
{
    background-color: #800000;
    color: whitesmoke;
    height: 30px;
    width: 49%;
    margin-top: 10px;
    margin-bottom: 30px;

    display: block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#output
{
    text-align: center;
}

#logOutput
{
  border:1px solid #999999;
  color: black;
  font-size:20px;
  height: 100%;
  width: 700px;
  padding: 20px;
  margin:auto;
}

#twitter
{
  border:1px solid #999999;
  color: black;
  font-size:20px;
  height: 300px;
  width: 700px;
  padding: 20px;
  margin:auto;
}

#tweet
{
    padding-top: 50px;
    padding-bottom: 25px;
    width: 6%;
    height: 6%;
    /* padding: 10px; */
    /* float: left; */
    clear: both;
    /* margin-top: 70px; */
}


#preview1
{
    border:1px solid #999999;
    color: black;
    font-size:20px;
    height: 100%;
    width: 700px;
    padding: 20px;
    margin:auto;
}

#preview2
{
    border:1px solid #999999;
    color: black;
    font-size:20px;
    height: 100%;
    width: 700px;
    padding: 20px;
    margin:auto;
    clear: both;
}

/*  */


body{
    background-color: #1C2E4A;
}


textarea{
	color: black;
}

form{
	text-align: center;

}


h1{
	text-align: center;
}

footer{
	text-align: center;
	font-size: 10px;
}
    
option{
    color: black;
}

/* .socialMedia{
    float: left;
} */
 
.fb-share-button{
    /* animation-delay: 10s; */
    padding-top: 50px;
    width: 12%;
    height: 50px;
    clear: both; 
} 